.header-section {
  width: 100%;
  height: 100px;

  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.inner-header-section {
  max-width: 1920px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
}
.left-header {
  width: 20%;
  height: 100%;
}
.left-header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.middle-header {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle-header button {
  width: 120px;
  height: 40px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  color: #fff;
  background-color: #943ed8;
}
.middle-header input {
  width: 400px;
  height: 40px;
  padding: 0px 20px;
  border: none;
  outline: none;
  background-color: #f1f0f0;
}
.input-container {
  display: flex;
}
.input-middle {
  width: 2px;
  height: 40px;
  background-color: #f1f0f0;
  display: flex;
  align-items: center;
}
.line {
  width: 100%;
  height: 80%;
  background-color: #d9d9d9;
}
.icon-section {
  width: 60px;
  height: 40px;
  background-color: #f1f0f0;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-header {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.right-header p {
  color: #943ed8;
  font-weight: bold;
}

.burger-line {
  width: 30px;
  height: 2px;
  background-color: black;
  position: relative;
}
.burger-line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  top: -6px;
}
.burger-line::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  top: 6px;
  right: 0;
}

@media (max-width: 1036px) {
  .middle-header button {
    padding: 10px 40px;
    display: flex;
    gap: 6px;
  }
}
@media (max-width: 890px) {
  .middle-header {
    display: none;
  }
  .left-header,
  .right-header {
    width: 50%;
  }
}
