/* .footer-container {
  width: 100%;
  min-height: 400px;
  background-color: red;
}
.inner-footer-container {
  max-width: 1920px;
  height: 100%;
  background-color: green;
  margin: 0 auto;
}
.foot-1{
    width: 100%;
    height: 80%;
    background-color: navajowhite;
    display: flex;
}
.foot-2{
    width: 100%;
    height: 20%;
    background-color: rgb(13, 122, 11);
    display: flex;
    justify-content: center;
}
.f-2-1{
    height: 50px;
    display: flex;
    align-items: center;
}
.f-2-2{
    height: 50px;
    display: flex;
    align-items: center;
} */